<h4>Create a new Card</h4>
<label>Card Title
  <input type="text" name="card[title]" value="">
</label>

<label>Card description
  <textarea name="card[description]" rows="4" cols="20"></textarea>
</label>

<label>Card order
  <input type="number" name="list[ord]" value="">
</label>
<br>
<button class="new-card">Submit Card</button>
