<h5><%= card.escape("title") %></h5>

<p> -- <%= card.escape("description") %></p>

<div class="update-card"></div>

<button class="delete-card">Delete Card</button>

<button class="update-card">Update Card</button>
